---
---

@import "{{ site.theme }}";

a:hover,
a:focus {
  font-weight: normal;
}

code {
  margin: 1px;
  border: 1px solid lightgrey;
  padding: 2px 6px;
  border-radius: 3px;
}

img {
  border: 1px solid lightgrey;
}

a > img { border: none; }
